# IDE stuff
.vscode/

# Build artifacts
target/
*.class
*.jar

# OS junk
Thumbs.db
.DS_Store

# Logs
*.log

# Scripts
*.bat
*.sh
*.ps1

# Maven
*.iml
.idea/

# Local config files (do NOT commit private keys!)
/config.docs/wiz.txt
/src/main/java/com/beanchainbeta/devTests
/docker/bootstrap/config.docs/wizard.txt
/docker/peer/config.docs/wizard.txt

# data
data/
